*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: inherit;
  
  }
  .footer{
    background-color: #021736;
    width: 100%;
    height: 293px;
  }
  .bloc{
    padding-top: 36px;
  padding-left: 70px;
  }
  .h4-text{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0%;
  color: #FFFFFF; 
  margin-bottom: 10px; 
  
  }
  .text{
    font-family: Inter;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0%;
  color: #CBCBCB;
  }
  .wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 163px;
  }
  .bloc input{
    font-family: Inter;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #F9F9F9;
  width: 288px;
  height: 48px;
  top: 71px;
  left: 832px;
  opacity: 1;
  border-radius: 8px;
  border-width: 1px;
  padding-left: 20px;
  background-color: inherit;
  border: 1px solid #F9F9F9
  
  }
  .color{
  background-color: #021736;
  width: 100%;
  height: 56px;
  opacity: 1;
  border-top: 2px solid #021736;
  display: flex;
  align-items: center;
  justify-content: space-between;
  }
  .img{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 110px;
    margin-top: 30px;
  }
  .img img{
    width: 50px;
  height: 20px;
  top: 8px;
  left: 2px;
  opacity: 1;
  
  }.img2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
  height: 25px;
  opacity: 1;
  border-radius: 4px;
  background-color: white;
  }
  .name{
    font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #CBCBCB;
  }
  .name1{
    font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #CBCBCB;
  margin-left: 70px;
  }
  .flex{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-right: 70px;
  justify-content: end;
  }